.select2 {
    width:100%!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 38px;
}
.select2-container--default .select2-selection--single{
    height: 38px;
}
.table td, .table th{
    vertical-align: middle;
    padding: 0.5rem;
}
@media only screen and (max-width: 435px) {
    .topsearch{

        /*display: none;*/
        position: fixed;
        right: 10px;
        bottom: 10px;
        width: 135px;
    }
    .navbar-custom .app-search .form-control,.topsearch_btn{
        background: rgba(133, 133, 133, 0.4) !important;
        color: white!important;
    }
    .topsearch_btn{
        background: rgba(86, 102, 118, 0.8) !important;
    }
}
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #4fc6e1;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 5px;
}
.orders_tbl  .checkbox label::before{
 top: -12px!important;
}
.orders_tbl  td, .orders_tbl th{
    vert-align: middle;
}
.orders_tbl .checkbox input[type=checkbox]:checked+label::after{
    top: -9px;
}
body::-webkit-scrollbar-thumb {
    background-color: #04acb1;
    background-image: -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent);
}
#tracking_scroll::-webkit-scrollbar-thumb {
    background-color: #04acb1;
    background-image: -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent);
}
