@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
.font-secondary{
    font-family: 'Rock Salt', cursive;
    position: relative;
}
.font-7rem{
    font-size: 3.5rem;
}
.btn-primary:hover {
    color: #ffffff;
    background: #18a8de;
    border: #18aee6;
}
.product-cat{
    height: 35px;
}
/*.hive-icon::after{*/
/*    content: '';*/
/*    background: url('/assets/website/assets/images/demos/demo-4/hive.png') center center no-repeat;*/
/*    background-size: contain;*/
/*    width: 50px;*/
/*    height: 30px;*/
/*    top: 10px;*/
/*    position: absolute;*/
/*    display: inline-block;*/
/*}*/
.cta-border{
    margin-left: unset;
}
.btn-primary:hover{
    color: #ff9800;
    background: #fff;
    border: #ff9800;
}
.square-product{
    display: table-cell;
    vertical-align: middle;
}
.product-media{
    background: #fff;
}